## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: apparmor-profile-thunderbird
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), dh-apparmor
Homepage: https://www.kicksecure.com/wiki/AppArmor
Vcs-Browser: https://github.com/Kicksecure/apparmor-profile-thunderbird
Vcs-Git: https://github.com/Kicksecure/apparmor-profile-thunderbird.git
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: apparmor-profile-thunderbird
Architecture: all
Depends: ${misc:Depends}, apparmor
Replaces: apparmor-profile-icedove
Description: AppArmor profile for Thunderbird for Debian
 An AppArmor profile to confine Thunderbird.
 .
 This profile is just an extension of the upstream AppArmor Debian profile.
 The upstream AppArmor upstream profile is the foundation.
 .
 Primarily this AppArmor profile makes Debian's AppArmor profile for
 Thunderbird compatible with Qubes Debian based VMs.
 .
 This profile is developed by the Kicksecure team.
 Thunderbird is developed by mozilla.org.
